<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/login.css">

        <link rel="stylesheet" href="/styles/register.css">
</head>
<body class="background-blue">

    <div class="loading" id="loading">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

    
    <main class="hidden" id="main">
        <section class="section"> 
            <img src="/images/rebolucionLogoWeb.png" alt="" srcset="" class="imagen-register">
        </section>
    <section class="big-container bg-color-blue-dark ">
        <div class="title-container">
        <div class="background-orange or-bar"></div>
        <h1 class="white">Register</h1>
        </div>

        <div class="false-box background-light-color-box-from-behind">
        <form action="/user/register" class="form background-light-color" method="POST"id="formulario" 
        enctype="">
            

            <input type="email" required class="login-input" 
            placeholder="Correo electronico"  id="email" name="email"
            value="<%= locals.old && old.email %>" >
    
            <div class="input-flex-container">
            <input type="text" required class="login-input"
            placeholder="Nombre" id="name" name="name"
            value="<%= locals.old && old.name %>" >
            

            <input type="text" required class="login-input"
            placeholder="Apellido" id="lastname" name="lastname"
            value="<%= locals.old && old.lastname %>" >
            </div>
           
                <input type="password" required class="login-input" 
            placeholder="Contraseña" id="password" name="password"
            value="<%= locals.old && old.password %>" >
          

                <input type="password" required class="login-input" 
            placeholder="Repita su contraseña" id="rePassword" name="rePassword"
            value="<%= locals.old && old.password %>" >

            
            
            
            
            <!--MOSTRAR MSJ SI HAY ERRORES-->
            
            
            <% if (locals.errors && errors.email) { %>
                <div class="error-container background-button-error">
                    <p class="error orange"  >
                        <%= errors.email.msg %>
                    </p>
                    </div>
                    <% } %>
                    <% if (locals.errors && errors.name) { %>
                        <div class="error-container background-button-error">
                            <p class="error orange"  >
                                <%= errors.name.msg %>
                            </p>
                        </div>
                        <% } %>
           <% if (locals.errors && errors.lastname) { %>
            <div class="error-container background-button-error">
                                <p class="error orange"  >
                                    <%= errors.lastname.msg %>
                                </p>
                            </div>
                            <% } %>
                           
                            
                            <% if (locals.errors && errors.password) { %>
                                <div class="error-container background-button-error">
                                    <p class="error orange"  >
                                        <%= errors.password.msg %>
                                    </p>
                                </div>
                                <% } %>
                                <% if (locals.errors && errors.rePassword) { %>
                                    <div class="error-container background-button-error">
                                        <p class="error orange"  >
                                            <%= errors.rePassword.msg %>
                                        </p>
                                    </div>
                                                        <% } %>

                                                        <% if (locals.reEmailError) { %>
                                                            <div class="error-container background-button-error">
                                                                <p class="orange error"><%= locals.reEmailError.msg %>
                                                                </p>
                                                            </div>
                                                            <% } %>
                                                            
                                                            
                                                            <!---FIN ERRORES-->
                                                            
                                                                        <a href="http://localhost:3000/auth/google" class="google-button-container">
                                                                            <button type="button" class="login-with-google-btn" >
                                                                                Sign in with Google
                                                                              </button>
                                                                        </a>
                                                            
                                                            <p class="white p-from-login ">Si ya tienes cuenta 
                                                                <a class="lightblue" href="/user/login">inicia sesion</a></p>
                                                                
                                                                <div class="btn-container">
                                                                    
                    <input type="button" id="showPass"  
                    class=" button  background-orange white showPass " >
                    
                    <input type="submit" 
                    name="sumbit" class="button blue background-orange "id="" 
                    value="➜">
                    
                    
                </div>
        </form>
    </div>
</section>
</main>
</body>
<script src="/js/showPassword.js"></script>
<script src="/js/loading.js"></script>
</html>