<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/editUserProfile.css">

    <!--<link rel="stylesheet" href="/styles/register.css">-->
</head>
<body class="background-blue">
    <div class="loading" id="loading">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <main class="hidden" id="main">
    <section class="big-container bg-color-blue-dark">

        <div class="false-box background-light-color-box-from-behind">

        
        <form action="/module/createmodule" method="POST"class="form background-light-color"id="formulario" 
        enctype="multipart/form-data">
        <h1 class="orange">¡Crea Modulos!</h1>


        <label class="white" for="title">Titulo del modulo:</label>

        <input type="text"  class="login-input" 
        placeholder="Titulo del modulo"  id="title" name="title"
        value="<%= locals.old && old.title %>" >
        
        <label class="white" for="shortDescription">Descripcion corta:</label>
        
        <input type="text"  class="login-input" 
        placeholder="Descripcion corta del modulo"  id="shortDescription" name="shortDescription"
        value="<%= locals.old && old.shortDescription %>" >
        
        
        
        <label class="white" for="difficulty">Dificultad del modulo:</label>
        
        <input type="number"  class="login-input" 
        placeholder="Dificultad del 1 al 10"  id="difficulty" name="difficulty"
        value="<%= locals.old && old.difficulty %>" >
        
        
        <label class="white" for="units">Cantidad de unidades:</label>
        
        <input type="number"  class="login-input" 
        placeholder="Cantidad de unidades"  id="units" name="units"
            value="<%= locals.old && old.units %>" >


            <label class="white" for="units">Id del profesor:</label>
        
        <input type="number"  class="login-input" 
        placeholder=""  id="id_teacher" name="id_teacher"
            value="<%= locals.old && old.units %>" >


            
            <label class="white" for="video">Video del modulo:</label>
            
            
            <input type="text"  class="login-input" 
            placeholder="Video"  id="video" name="video"
            value="<%= locals.old && old.video %>" >
            
            
            <label class="white" for="image">Imagen del modulo:</label>
            
            <input type="file"  class="login-input" 
            placeholder="Imagen del modulo"  id="image" name="image">

            <% if (locals.errorImage) { %>
                <div class="error-container background-button-error">
                    <p class="orange error"><%= locals.errorImage.msg %>
                    </p>
                </div>
                <% } %>

            <% if (locals.errors && errors.title) { %>
                <div class="error-container background-button-error">
                    <p class="error orange">
                        <%= errors.title.msg %>
                    </p>
                </div>
                <% } %>
            <% if (locals.errors && errors.shortDescription) { %>
                <div class="error-container background-button-error">
                    <p class="error orange">
                        <%= errors.shortDescription.msg %>
                    </p>
                </div>
                <% } %>
                
                <% if (locals.errors && errors.units) { %>
                    <div class="error-container background-button-error">
                        <p class="error orange">
                            <%= errors.units.msg %>
                        </p>
                    </div>
                <% } %>
                
                <% if (locals.errors && errors.video) { %>
                    <div class="error-container background-button-error">
                        <p class="error orange">
                            <%= errors.video.msg %>
                        </p>
                    </div>
                    <% } %>
                    <% if (locals.errors && errors.difficulty) { %>
                        <div class="error-container background-button-error">
                            <p class="error orange">
                                <%= errors.difficulty.msg %>
                            </p>
                        </div>
                    <% } %>

           
                    <div class="btn-container">
                        <input value="Enviar" class="button-from-register bg-color-blue-dark  bg-color-or"type="submit">
                            </input>
                            </div>
        </form>
        </div>   
    </section>
</main>
</body>
<script src="/js/loading.js"></script>

</html>