<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Edita tu perfil</title>
    <%-include ("../partials/head") %> 

    <link rel="stylesheet" href="/styles/editUserPass.css">
    
</head>
<body class="background-blue">
    <div class="loading" id="loading">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <main class="hidden" id="main">
        <section class="big-container bg-color-blue-dark ">
            <div class="false-box background-light-color-box-from-behind">
                <form action="/user/my-profile/edit/my-password?_method=PUT" method="POST"  class="form background-light-color"id="formulario">
                    <h1 class="orange">¡Edita tu contraseña!</h1>
                    <label class="white" style="display: none;" for="email">Email:</label>
                    <input style="display: none;" type="email" id="email" name="email" placeholder="<%= locals.loggedUser.emaill %>" value="<%= locals.loggedUser.emaill %>" readonly disabled>
                    
                    <label class="white" for="password">Coloca tu contraseña actual:</label>
                    <input class="login-input" type="password" id="password" name="password">
                    
                    <label class="white"for="re-password">Coloca tu nueva contraseña:</label>
                    <input class="login-input" type="password" id="newPassword" name="newPassword">
                    <% if (locals.errors && errors.password) { %>
                        <div class="error-container background-button-error">
                            <p class="orange error"><%= locals.password.msg %>
                            </p>
                        </div>
                        <% } %>
                        
                        <% if (locals.errors && errors.newPassword) { %>
                            <div class="error-container background-button-error">
                            <p class="orange error"><%= locals.newPassword.msg %>
                            </p>
                        </div>
                        <% } %>
                        
                        
                        <% if (locals.errorOnEditPass) { %>
                            <div class="error-container background-button-error">
                                <p class="orange error"><%= locals.errorOnEditPass.msg %>
                                </p>
                            </div>
                            <% } %>
                            
                            
                            <div class="button-container-change-pass">
                                <input class="background-orange white" type="button" name="showPass" id="showPass" value="Mostrar contraseña">
                                <input class="background-orange white" type="submit" name="sendNewPass" value="Modificar">
                            </div>
                            
                        </form>
                    </div>
                </section>
                
                <!--<form action="/user/my-profile/edit/my-password?_method=PUT" method="POST">

                    <label style="display: none;" for="email">Email:</label>
                    <input style="display: none;" type="email" id="email" name="email" placeholder="<%= locals.loggedUser.emaill %>" value="<%= locals.loggedUser.emaill %>" readonly disabled>
                    
                    <label for="password">Coloca tu contraseña actual:</label>
                    <input type="password" id="password" name="password">
                    <% if (locals.errors && errors.password) { %>
                        <p style="color: red">
                            <%= errors.password.msg %>
                        </p>
                        <% } %>
                        
                        <label for="re-password">Coloca tu nueva contraseña:</label>
                        <input type="password" id="newPassword" name="newPassword">
                        <% if (locals.errors && errors.newPassword) { %>
                            <p style="color: red">
                                <%= errors.newPassword.msg %>
                            </p>
                            <% } %>
                            
                            <input type="button" name="showPass" id="showPass" value="Mostrar contraseña">
                            <input type="submit" name="sendNewPass" value="Modificar">
                            
                            
                        </form>-->
                        
                        
                    </main>
                </body>
<script src="/js/loading.js"></script>
                
                <script src="/js/showPassword.js"></script>
                </html>
                